<!-- Colored devider -->
<div class="devider-color bottom-space--m"></div>
<!-- Footer section -->
<footer class="footer footer--info">
    <div class="container">
        <div class="row">
            <!-- Latest post -->
            <div class="col-sm-4">
                <!--  Logo  -->
                <a class="logo" href="~/Home/Index">
                    <!-- Remove comments to choose image and add comment to h1 -->
                    <!--<img src="images/logo-full.png" alt="">-->
                    <h1 class="logo__text">
                        <span class="logo__slogan">About Airborne FRS</span>
                        <img src="~/images/logo-full-light.png" class="img-responsive">
                    </h1>
                </a>
                <!-- End Logo -->
                <p>
                    Affordable Flight Reporting
                    <br> System for every day and
                    <br> emeregency use.
                </p>
            </div>
            <!-- end latest post -->
            <!-- Contact info about company -->
            <div class="col-sm-5">
                <h3 class="heading-info heading-info--mobile">Airborne FRS is manufactured by:</h3>
                <a href="http://www.praxistechinc.com" target="_blank"><img src="~/images/praxislogo.png" alt="Praxis Technologies" class="img-responive"></a>
            </div>
            <!-- end contact info -->
            <!-- Social links -->
            <div class="col-sm-3">
                <h3 class="heading-info heading-info--mobile">We’re social:</h3>
                <div class="social social--default">
                    <!-- List with social icons -->
                    <ul>
                        <li class="social__item">
                            <a target="_blank" href="https://twitter.com/airbornefrs" class="social__link"><i class="social__icon fa fa-twitter"></i></a>
                        </li>
                        <li class="social__item">
                            <a target="_blank" href="https://www.facebook.com/AirborneFRS/" class="social__link"><i class="social__icon fa fa-facebook"></i></a>
                        </li>
                        @*<li class="social__item">
                            <a target="_blank" href="https://plus.google.com/112303093241492791399/posts/p/pub" class="social__link"><i class="social__icon fa fa-google-plus"></i></a>
                        </li>*@
                        <!--<li class="social__item"><a target="_blank" href="#" class="social__link"><i class="social__icon fa fa-pinterest"></i></a>
                        </li>
                        <li class="social__item"><a target="_blank" href="#" class="social__link"><i class="social__icon fa fa-tumblr"></i></a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <!-- end social links -->
        </div>
        <!-- end row -->
        <div class="copy text-center">
            <a href="http://www.praxistechinc.com" target="_blank">&copy;2017 Praxis Technologies, Inc</a>. All rights reserved.
        </div>
    </div>
    <!-- end container -->
</footer>
<!-- end footer section -->

