
@{
    ViewBag.Title = "Airborne FRS: Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <link href="~/external/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    
       
        <!-- Section show current page and breadcrumb -->
        <section class="page-indecator">
            <div class="container">
                <h2 class="heading">
                    Products
                </h2>
                <!-- Breadcrumb pattern -->
                <ol class="breadcrumb breadcrumb-pages">
                    <li>
                        <a href="~/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Products
                    </li>
                </ol>
                <!-- Default one color devider -->
                <div class="devider">
                </div>
            </div>
        </section>
        <!-- end section show current page and breadcrumb -->
        <div class="inner-page-template clearfix">
            <section class="container">
                <div class="row">
                    <div class="about abs-d">
                        <div class="col-sm-6">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    ADS-B
                                </span>
                                Interoperatibility
                            </h2>
                            <p class="p-space">
                                Automatic Dependent Surveillance–Broadcast (ADS-B) is a precise satellite-based surveillance system. ADS-B Out uses GPS technology to determine an aircraft's location, airspeed and other data, and broadcasts that information to a network of ground stations, which relays the data to air traffic control displays and to nearby aircraft equipped to receive the data via ADS-B In. Operators of aircraft equipped with ADS-B In can receive weather and traffic position information delivered directly to the cockpit
                            </p>
                            <p class="p-null">
                                Airborne offers affordable customized solutions for ADS-B interoperability. The results include improved situational assessment and a common operating picture across almost any hardware platform.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <!-- end container -->
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <section class="container" id="alert-notice">
                <div class="row">
                    <div class="about alert-notice right">
                        <div class="col-sm-6 pull-right col-xs-12">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Alert &amp;
                                </span>
                                Notice
                            </h2>
                            <p class="p-space">
                                Alert Notification solutions can be integrated with any Airborne product to provide when, where, how and why notifications are provided. Airborne lets you control what information is made available to the aviation community or selected individuals. Select the digital media format such as text messages, email, mobile apps, and voice telephony. Notices can be scheduled, sent on-demand, or event-driven such as flying near or into restricted zones.
                            </p>
                            <p class="p-space">
                                Messages are securely distributed to any individual or group of air crew or ground personnel located anywhere in the world. No special equipment is required to receive Airborne messages.
                            </p>
                            <p class="p-null">
                                Airborne is not a replacement for existing ELTs, but it can provide augmented location and flight information that can be valuable in rescue and recovery.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <!-- end container -->
            <section class="container" id="enroute-track">
                <div class="row">
                    <div class="about enroute-track">
                        <div class="col-sm-6">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Enroute Track &amp;
                                </span>
                                Monitor
                            </h2>
                            <p class="p-space">
                                Airborne provides cellular, satellite and dual-mode flight tracking and reporting products to meet any air vehicle performance application. From low-speed unmanned aerial systems to high-performance, high-altitude aircraft, Airborne is always there, always aware.
                            </p>
                            <p class="p-null">
                                Digital and analog inputs and outputs are available on selected Airborne products. Inputs receive information from Flight Sense™ sensors, aircraft systems, and even third-party systems. Outputs are used to control relays, switches and third-party systems such as auxiliary heaters and lights.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <section class="container" id="flight-planning">
                <div class="row">
                    <div class="about flight-planning right">
                        <div class="col-sm-6 pull-right col-xs-12">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Flight
                                </span>
                                Planning
                            </h2>
                            <p class="p-space">
                                Airborne augments existing flight planning systems and processes to provide greater visibility to passengers and ground personnel. Airborne’s built-in library of airports and heliports can be easily accessed to construct GPS routing.  Additional features include automatically notifying vested personnel of take-off time, revised ETA, reroutes, potential maintenance concerns, and the like.
                            </p>
                            <p class="p-null">
                                Virtual waypoints can be created to serve as enroute checkpoints of flight performance and mission requirements.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <!-- end container -->
            <section class="container" id="mobile-applications">
                <div class="row">
                    <div class="about mobile-applications">
                        <div class="col-sm-6">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Mobile
                                </span>
                                Applications
                            </h2>
                            <p class="p-space">
                                Airborne mobile applications operate on just about any android and iOS device. Features include real-time tracking, airport location, direct routing to airports, alerts, air-ground communications, geo-fencing, and performance monitoring.
                            </p>
                            <p class="p-null">
                                Airborne Flight Sense™ provides a handle-held cradle attachment for mobile phones that receives sensor data and relays it to the mobile phone for processing.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <section class="container" id="security-ground">
                <div class="row">
                    <div class="about security-ground right">
                        <div class="col-sm-6 pull-right col-xs-12">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Security  &amp;
                                </span>
                                Ground Ops
                            </h2>
                            <p class="p-space">
                                When aircraft aren’t flying, Airborne is still providing valuable information and features while on the ground. Airborne serves as a security and warning system for aircraft when tied-down or hangered. Airborne detects a variety of parameters to help keep your aircraft flight ready at all times Airborne detects such items as low battery charge, low tire pressure, freezing temperatures, and broken tie-downs.
                            </p>
                            <p class="p-null">
                                Airborne’s compound management capabilities can detect such concerns as unauthorized aircraft movement or engine start, door / hatch breech, or unexpected activity near the aircraft. Event-driven logic with remote control enables automatic turn-on of engine heater when the temperature falls below a preset value, or flight crews can turn-on the engine heater prior to getting to the aircraft.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <!-- end container -->
            <section class="container" id="system-monitoring">
                <div class="row">
                    <div class="about system-monitoring">
                        <div class="col-sm-6">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Systems
                                </span>
                                Monitoring
                            </h2>
                            <p class="p-space">
                                There are over 150,000 active piston powered aircraft in the United States. These aircraft do not have the on-board diagnostics that are found in more expensive turbo-prop and turbo-jet powered aircraft.
                            </p>
                            <p class="p-space">
                                Airborne provides “clip-on” monitoring of critical aircraft operations by using advanced wireless sensor technologies in the unlicensed spectrum. This means Airborne does not interfere is existing avionics and flight control operations. Flight Sense™ sensors are strategically placed to detect incipient failures and problematic operations. For example, vibration sensors can detect abnormal engine operations or used to detection potential structural integrity issues.
                            </p>
                            <p class="p-null">
                                Airborne’s Virtual Maintenance Reporting System helps air crews understand potential maintenance issues that may arise during future flights.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
            <div class="container">
                <div class="devider-brand">
                </div>
            </div>
            <section class="container" id="training">
                <div class="row">
                    <div class="about training right">
                        <div class="col-sm-6 pull-right col-xs-12">
                            <h2 class="heading-cascade heading-cascade--danger">
                                <span class="heading-cascade__step">
                                    Training
                                </span>
                                End Users and Trainers**
                            </h2>
                            <p class="p-space">
                                Airborne devices provide increased performance monitoring during critical flight phases such as take-off and landings and operations within terminal airspace. This information is valuable to air and operation crews as they can analyze the flight path as a function of speed, altitude and heading. This is just no of the physical training aspects that can be assessed from Airborne data.
                            </p>
                            <p class="p-space">
                                Airborne Training is for installers, pilots, ground crew, operators and all others with a vested interest in the safety and operations of their air vehicles. Deliverables include training manuals, presentation materials for end users, video lessons and testing to certify installation and repair teams.
                            </p>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end about -->
                </div>
                <!-- end row -->
            </section>
        </div>
       
        <!-- Modal -->
        <div class="modal fade--zoom" aria-labelledby="fastfacts" tabindex="-1" role="dialog" id="fastfacts">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title" id="fastfacts">FastFacts</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list">
                            <li> Airborne Flight Reporting System: for all Air &amp; Ground Crews, Passengers, Family &amp; Associates!</li>
                            <li>Affordable Flight Tracking &amp; Management: great for General Aviation flight either VFR &amp; IFR!</li>
                            <li>Airborne FRS for Vertical Lift: Reports on the unique Flight Characteristics of VTOLs!</li>
                            <li> Lightweight for the Drones: Provides enhanced Flight Monitoring for Drones!</li>
                            <li>Makes Unpredictable Flight Safer: If it Takes-off, is should have Airborne!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-scroll">
            <i class="fa fa-angle-up">
            </i>
        </div>
    
  
    

    <script>
        $(document).ready(function () {
            staffSlider();
            scrollSlider();
        });
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 105
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        (function () {
            var cx = '011230577157378110874:_crwdl6d2nu';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>



